<ion-header>
  <ion-navbar>
    <ion-icon name="ion-edit"></ion-icon>
    <ion-title>Farringdon</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor='let question of questions; let i = index;' [answers]='answers'>
      <h1>{{question.text}}</h1>
      <ion-select [(ngModel)]='answers[i]' *ngIf='question.answerType==boolean'>
        <ion-option value="Yes">Yes</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
      <ion-range *ngIf='question.answerType == number' min="1" max="100" step="1" snaps="true" pin="true" [(ngModel)]="answers[i]"></ion-range>
    </ion-slide>
    <ion-slide>
      <button large clear (click)='onSave()'>All Done?<ion-icon name="checkmark"></ion-icon></button>
    </ion-slide>
  </ion-slides>
</ion-content>

